.colors {
  background-color: #f7fcfd; /* white -> blue */
  background-color: #fefefd; /* white -> red */
  background-color: #e1eae7; /* Mint Cream */
  background-color: #c7d1cb; /* Ash Gray */
  background-color: #f3f7ed; /* Ivory */

  background-color: #1b3532; /* Dark Slate Gray */
  background-color: #071e22; /* Rich Black */

  background-color: #de9151; /* Persian Orange */
}
