/*** All SECTIONS ***/
.content {
  color: black;
}
.heading {
  font-size: 50px;
  margin: 0 0 70px 40px;
}
.heading-line {
  border: 5px solid #de9151;
  width: 100px;
  margin: 0 0 5px 10px;
}
.heading-paragraph {
  font-size: 21px;
  line-height: 1.4;
  margin: 0;
}

/** HOME -> home.js **/
#Home {
  background-color: #f7fcfd;
  font-family: Roboto;
}

/*** INTRODUCTION -> home-s1.js ***/
#introduction {
  padding: 50px 100px 50px 50px;
  flex-direction: row;
}
/* Intro */
#summary {
  flex-direction: row;
  margin: 0;
  padding: 80px 0 0 50px;
}
#summary p {
  width: 80%;
}
/* Topics */
#topics {
  margin: 0;
  padding: 0;
}
.topics-img {
  margin: 0;
  padding: 0;
  width: 110px;
}
.topics-divider {
  padding: 0;
  margin: 30px 0;
  border: 1px solid black;
}
/* Width < 1100px */
@media screen and (max-width: 1100px) {
  #introduction {
    flex-direction: column;
  }
  #summary {
    padding: 0 0 100px 0;
  }
  #summary-paragraph {
    width: 100%;
  }
  #topics {
    min-width: 630px;
  }
  .topics-divider {
    margin: 20px 0 20px 0;
  }
}

/*** SECTION 2 -> home-s2.js ***/
#news {
  padding: 70px 0;
  background-color: #ecebe7;
}
.s2-header {
  text-align: center;
  font-size: 27px;
  margin: 0 0 50px 0;
}
.news-link-title h1 {
  font-size: 25px;
  margin: 8px 0 0 0;
}
.news-img {
  position: relative;
  aspect-ratio: 1/1;
  width: 100%;
  margin: 0;
  z-index: 1;
}
.img-line {
  position: relative;
  border: 7px solid #de9151;
  margin: -12px 0 0 10px;
  padding: 0;
  width: 60px;
  z-index: 9999;
}
/* Width < 900px */
@media screen and (max-width: 900px) {
  .news-container {
    padding: 50px 0 50px 0;
  }
  .news-img {
    width: 250px;
  }
}

/*** SECTION 3 -> home-s3.js ***/
#mission-statement {
  padding: 100px 0;
}
/* Goal */
#missions {
  margin: auto auto 100px auto;
}
/* Grid */
.mssns-links {
  text-decoration: none;
  color: black;
}
.mssns-items {
  border-bottom: 3px solid transparent;
  &:hover {
    border-bottom: 3px solid #de9151;
  }
}
.mssns-topics {
  margin: 0;
  padding: 15px;
  font-size: 22px;
}
