#Home {
  background-color: white;
  font-family: Roboto;
}

.content {
  color: black;
}

/* SECTION 1 -> home-s1.js */
#sect1-intro {
  margin: 150px 0 100px 50px;

  & h1 {
    font-size: 65px;
    font-weight: 500;
    margin: 0 0 100px 50px;
  }

  & h2 {
    font-size: 32px;
    margin: 0 0 0 30px;
  }

  & hr {
    border: 1.5px solid black;
    width: 130px;
    margin: 0 0 20px 30px;
  }

  & p {
    font-size: 19px;
    line-height: 1.3;
    width: 85%;
  }
}

#sect1-categories {
  margin: 100px 50px 100px 0;
}

.sect1-img {
  width: 110px;
}

.sect1-divider {
  margin-bottom: 30px;
}

.sect1-button {
  margin: 0 0 20px 100px;
}

.enviro-summary {
  & hr {
    width: 120px;
  }
}

/* SECTION 2 -> home-s2.js */
.section2 {
  background-color: lightgray;
  padding: 100px;
}

.news-container {
  width: 300px;
}

.news-link-title h1 {
  font-size: 20px;
  margin: 8px 0 0 0;
}

.news-img {
  aspect-ratio: 1;
  width: 300px;
}

@media screen and (max-width: 900px) {
  .news-container {
    padding: 50px 0 50px 0;
  }
  .news-img {
    width: 250px;
  }
}

/* SECTION 3 -> home-s3.js */
.section3 {
  background-color: white;
}
