.creature-card {
  aspect-ratio: 16/10;
  width: 300px;
  background-color: #071e22;
  border-radius: 15px;
  border: 5px solid white;
  margin: 0;
  padding: 0;
}
.card-info {
  margin: 0 0 0 10%;
}
.card-name {
  color: white;
  font-size: 40px;
}
.card-text {
  color: white;
}
.card-img {
  aspect-ratio: auto;
  height: 50%;
}
