/* Universal navigation properties */
#navbar {
  position: static;
  display: flex;
  text-align: center;
  padding: 7px 0 0 0;
  height: 80px; 
  background-color: white;
}

.link {
  text-decoration: none;
  color: black;
}

/* Navigation tabs */
#tabs {
  display: block;
}

#tab-link {
  margin: 0 20px 0 20px;
  padding: 0 0 5px 0;
  font-size: 25px;
  font-weight: 600;
  border-bottom: 3px solid transparent;

  &:hover {
    border-bottom: 3px solid #de9151;
  }
}

/* Navigation dropdown */
#dropdown { 
  display: none;
  width: 30%;
  position: absolute;
    top: 6px;
    right: 0;
}

#drop-header {
  font-size: 22px;
  font-weight: 600;
}

#drop-menu {
  text-align: left;
  font-size: 20px;
  margin: 0 0 10px 0;
}

/* Dropdown display parameters */
/* Horizontal hide parameters */
@media screen and (max-width: 600px) {
  #dropdown {
    display: block;
  }

  #tabs {
    display: none;
  }
}