.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  /* transform: translateX(-50%);
  transition: all 0.5s ease; */
}

@media screen and (min-width: 600px) {
  .slide img {
    width: 100%;
    height: 100%;
  }
}

.slide img {
  width: 100%;
  height: 100%;
}

.slide-content {
  position: absolute;
  top: 12rem;
  left: 8rem;
  opacity: 0;
  width: 30%;
  height: 8rem;
  padding: 2rem;
  background: rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 600px) {
  .slide-content {
    width: 40%;
  }
}

.slide-content > * {
  color: white;
  margin: 0 0 0.7rem 0;
}

.slider .current {
  opacity: 1;
  transform: translateX(0);
}

.current .slide-content {
  opacity: 1;
}

.arrow {
  position: absolute;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  background: transparent;
  color: rgba(255, 255, 255, 0.5);
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  top: 40%;
  z-index: 999;

  &:hover {
    background: white;
    color: #777;
  }
}

.next {
  right: 1.5rem;
}

.prev {
  left: 1.5rem;
}

.slide-content hr {
  height: 2px;
  background: white;
  width: 60%;
}

.slide-button {
  background: #1b3532;
  font-size: 16px;
  border: 0;
  margin: 35px 0 0 10px;
  height: 30px;
  width: 140px;
  border-radius: 3px;
  cursor: pointer;
}
