#slide-layout {
 position: relative;
}

.slide img {
  aspect-ratio: 16/9;
  max-height: 600px;
  min-height: 350px;
  width: 100%;
}

.slide-content {
  position: absolute;
  bottom: 30%;
  left: 15%;
  opacity: 0;
  aspect-ratio: 16/7;
  width: 300px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.6);
}

.slide-content > * {
  color: white;
  margin: 0 0 0.7rem 0;
}

.current .slide-content {
  opacity: 1;
}

.arrow {
  position: absolute;
  bottom: 40%;
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  background: transparent;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;

  &:hover {
    background: white;
    color: #777;
  }
}

.next {
  right: 1.5rem;
}

.prev {
  left: 1.5rem;
}

.slide-content hr {
  height: 2px;
  background: white;
  width: 60%;
}

.slide-button {
  background: #1b3532;
  font-size: 17px;
  border: 0;
  margin: 12px 0 0 0;
  height: 30px;
  width: 140px;
  border-radius: 3px;
  cursor: pointer;
}

/* WIDTH < 900px */ 
@media screen and (max-width: 900px) {
  .slide-content {
    bottom: 20%;
    aspect-ratio: 13/6;
  }
}

/* WIDTH < 600px */
@media screen and (max-width: 600px) {
  .slide-content {
    width: 170px;
    left: 18%;
  }

  .slide-content p, hr{
    display: none;
  }
}
