.Container {
}

.Stack-Home {
  background-color: gray;
  text-align: center;
  color: white;
}

.Stack-Home .content {
  height: 300px;
}

.Stack-Home .section1 {
  background-color: white;
}

.Stack-Home .section2 {
  background-color: gray;
}

.Stack-Home .section3 {
  background-color: white;
}
