.Home {
  background-color: gray;
  color: white;
  height: auto;
}

.section-slider {
  height: 200px;
  overflow: hidden;
}

.content {
  height: 400px;
}

.section1 {
  background-color: white;
}

.section2 {
  background-color: gray;
}

.section3 {
  background-color: white;
}
