.header {
    display: flex;
    position: relative;
}

.header img {
    width: 100%;
}

.content-body {
    position: absolute;
    width: 100%;

    @media screen and (max-width: 600px) {
        top: 400px;
    }
}

@media screen and (max-width: 600px) {
    position: absolute;
    width: 100%;
    top: 20%;
}

.content {
    display: flex;
    height: 300px;
    margin: 0;
    padding: 0;
}

.section-one {
    background-color: #E5EBE7;
}

.section-two {
    background-color: #C7D1CB;
}

.section-three {
    background-color: #E5EBE7;
}